:root {
  /* Colors */
  --color-background: #08090a;
  --color-text: #8a8f98;
  --color-text-muted: #f7f8f8;
  --color-text-subtle: #ffffff;
  --color-primary: #638cff;
  --color-secondary: #55ccff;
  --color-accent: #818fff;
  --color-border: #d4d4d6;

  /* Typography */
  --font-heading-1-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-heading-1-size: 16px;
  --font-heading-1-weight: 590;
  --font-heading-1-line-height: 24px;
  --font-heading-2-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-heading-2-size: 16px;
  --font-heading-2-weight: 590;
  --font-heading-2-line-height: 24px;
  --font-heading-3-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-heading-3-size: 20px;
  --font-heading-3-weight: 590;
  --font-heading-3-line-height: 30px;
  --font-heading-4-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-heading-4-size: 16px;
  --font-heading-4-weight: 590;
  --font-heading-4-line-height: 24px;
  --font-body-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-body-size: 16px;
  --font-body-weight: 400;
  --font-body-line-height: 24px;
  --font-body-text-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-body-text-size: 16px;
  --font-body-text-weight: 400;
  --font-body-text-line-height: 24px;
  --font-inline-text-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-inline-text-size: 16px;
  --font-inline-text-weight: 400;
  --font-inline-text-line-height: 24px;
  --font-link-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-link-size: 14px;
  --font-link-weight: 510;
  --font-link-line-height: 21px;
  --font-button-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-button-size: 13px;
  --font-button-weight: 400;
  --font-button-line-height: 19.5px;
  --font-navigation-family: Inter Variable, SF Pro Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-navigation-size: 16px;
  --font-navigation-weight: 400;
  --font-navigation-line-height: 24px;

  /* Spacing */
  --spacing-3xs: 1px;
  --spacing-2xs: 28px;
  --spacing-xs: 72px;
  --spacing-sm: 88px;
  --spacing-md: 104px;
  --spacing-lg: 122px;
  --spacing-xl: 284px;
  --spacing-2xl: 385px;
  --spacing-3xl: 460px;
  --spacing-4xl: 478px;
  --spacing-5xl: 552px;
  --spacing-6xl: 576px;

  /* Border Radius */
  --radius-none: 0;
  --radius-sm: 1px;
  --radius-md: .3em;
  --radius-lg: 10px;
  --radius-xl: 20px;
  --radius-full: 30px;

}